In [12]:
import pandas as pd
import numpy as np
import preprocessing
import metrics_experiment
from sklearn.metrics import auc

In [6]:
example1 = pd.read_csv('../tests/test-data/libre-data/3028 2.csv', header=None)
example2 = pd.read_csv('../tests/test-data/libre-data/3028 2.csv')

In [7]:
preprocessed_objects = []
for i in [example1, example2]:
    preprocessed_objects.append(preprocessing.preprocess_df(i, '3028 2.csv'))

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                     glc  scan_glc  interp
time
2016-01-08 00:01:00  3.6       NaN     3.6
2016-01-08 00:02:00  NaN       NaN     3.6
2016-01-08 00:03:00  NaN       NaN     3.6
2016-01-08 00:04:00  NaN       NaN     3.6
2016-01-08 00:05:00  NaN       NaN     3.6
...                  ...       ...     ...
2018-12-09 23:50:00  NaN       NaN     5.2
2018-12-09 23:51:00  NaN       NaN     5.2
2018-12-09 23:52:00  NaN       NaN     5.2
2018-12-09 23:53:00  NaN       NaN     5.2
2018-12-09 23:54:00  5.1       NaN     5.1

[1536474 rows x 3 columns]
298652
                     glc  interp
time
2016-01-08 00:01:00  3.6     3.6
2016-01-08 00:02:00  NaN     3.6
2016-01-08 00:03:00  NaN     3.6
2016-01-08 00:04:00  NaN     3.6
2016-01-08 00:05:00  NaN     3.6
...                  ...     ...
2018-12-09 23:50:00  NaN     5.2
2018-12-09 23:51:00  NaN     5.2
2018-12-09 23:52:00  NaN     5.2
2018-12-09 23:53:00  NaN     5.2
2018-12-09 23:54:00  5.1     5.1

[1536474 rows x 2 columns]
298652

In [4]:
total_df = pd.DataFrame()
for i in preprocessed_objects:
    if i.usable==True:
        df_id = i.data
        df_id['ID'] = i.id
        total_df = total_df.append(i.data)

In [5]:
results = total_df.groupby('ID').apply(
            lambda group: metrics_experiment.calculate_all_metrics(group, unit='blo', interval='b'))

blo b
blo b

## LBGI experiment

Kovatchev BP, Cox DJ, Gonder-Frederick LA, Young-Hyman D, Schlundt D, Clarke WL: Assessment of risk for severe hypoglycemia among adults with IDDM: validation of the low blood glucose index. Diabetes Care  21 :1870 –1875, 1998

In [22]:
df = preprocessed_objects[0]['data']
df.dropna(inplace=True, subset=['glc'])

In [35]:
def calc_fbg(glucose, mmol=True):
    if mmol:
        fbg = 1.794*(np.log(glucose)**1.026 - 1.861)
        fbg = 10*(min(fbg, 0)**2)
        return fbg
    else:
        fbg = 1.509*(np.log(glucose)**1.084 - 5.381)
        fbg = 10*(min(fbg, 0)**2)
        return fbg

In [50]:
np.round((calc_fbg(4.4) + calc_fbg(7.8)+calc_fbg(2.6))/3, 1)

10.2

In [49]:
np.round(df.glc.apply(lambda x: calc_fbg(x)).mean(), 1)

3.0

In [25]:
10**-0.5

0.31622776601683794

In [26]:
preprocessed_objects[0].data

                     time   glc  scan_glc
0     2018-04-20 15:31:00  11.0       NaN
1     2018-04-20 15:35:00   NaN      10.8
2     2018-04-20 15:35:00   NaN       NaN
3     2018-04-20 15:46:00  11.5       NaN
4     2018-04-20 16:01:00  11.9       NaN
...                   ...   ...       ...
21822 2017-10-23 19:44:00   2.2       NaN
21823 2017-10-23 19:50:00   NaN       2.2
21824 2017-10-23 19:58:00   2.2       NaN
21825 2017-10-23 20:06:00   NaN       2.2
21826 2017-10-23 20:13:00   NaN       2.2

[21827 rows x 3 columns]

In [44]:
df = preprocessed_objects[0].data
df['time'] = pd.to_datetime(df['time'])
df.sort_values('time', inplace=True)
df.reset_index(drop=True, inplace=True)
df.dropna(subset=['glc', 'time'], inplace=True)

In [39]:
df.time = df.time.apply(lambda x: x.timestamp())

In [42]:
df.describe()

                glc  scan_glc
count  19870.000000       0.0
mean       8.498440       NaN
std        3.667772       NaN
min        2.200000       NaN
25%        5.800000       NaN
50%        8.300000       NaN
75%       11.000000       NaN
max       27.800000       NaN

In [19]:
df.time

12675    1.452211e+09
12676    1.452212e+09
12677    1.452213e+09
12678    1.452214e+09
12679    1.452215e+09
             ...
11395    1.544396e+09
11396    1.544397e+09
11397    1.544398e+09
11398    1.544399e+09
11399    1.544400e+09
Name: time, Length: 21827, dtype: float64

In [31]:
df.time.values.astype(float)

array([1.45221126e+09, 1.45221216e+09, 1.45221306e+09, ...,
       1.54439784e+09, 1.54439874e+09, 1.54439964e+09])

In [37]:
df

                               time  glc  scan_glc
0     1970-01-01 00:00:01.452211260  3.6       NaN
1     1970-01-01 00:00:01.452212160  3.1       NaN
2     1970-01-01 00:00:01.452213060  2.3       NaN
3     1970-01-01 00:00:01.452213960  2.2       NaN
4     1970-01-01 00:00:01.452214860  2.2       NaN
...                             ...  ...       ...
21822 1970-01-01 00:00:01.544396340  NaN       NaN
21823 1970-01-01 00:00:01.544396940  4.9       NaN
21824 1970-01-01 00:00:01.544397840  5.7       NaN
21825 1970-01-01 00:00:01.544398740  5.2       NaN
21826 1970-01-01 00:00:01.544399640  5.1       NaN

[21827 rows x 3 columns]

In [46]:
auc(df.time.values.astype(float), df.glc.values)

714733344.0

In [45]:
auc(df.time, df.glc)

UFuncTypeError: Cannot cast ufunc 'less' input 0 from dtype('<m8[ns]') to dtype('<m8') with casting rule 'same_kind'

In [4]:
dict_results = []
for i in preprocessed_objects:
    if i.usable==True:
        df_id = i.data
        results = metrics_experiment.calculate_all_metrics(df_id, ID=i.id, unit=i.units, interval=i.interval)
        dict_results.append(results)

In [5]:
pd.DataFrame.from_dict(dict_results)

,ID,Average glucose,SD,CV,eA1c,TIR normal,TIR hypoglycaemia,tir_lv1_hypo,tir_lv2_hypo,tir_hyper,tir_lv1_hyper,tir_lv2_hyper,total_number_hypos,number_lv1_hypos,number_lv2_hypos,avg_length_of_hypo,total_time_in_hypos
0,3028,8.49844,3.667772,43.158179,6.973862,55.81,11.11,4.98,6.13,33.07,25.37,7.71,308,131,177,0 days 14:04:17,180 days 13:59:00
1,3028 2,8.49844,3.667772,43.158179,6.973862,55.81,11.11,4.98,6.13,33.07,25.37,7.71,308,131,177,0 days 14:04:17,180 days 13:59:00

In [8]:
pd.DataFrame(dict_results)

       avg        sd         cv      id
0  8.49844  3.667772  43.158179    3028
1  8.49844  3.667772  43.158179  3028 2

In [7]:
metrics.time_in_range(total_df)

,ID,tir_norm,tir_hypo,tir_lv1_hypo,tir_lv2_hypo,tir_hyper,tir_lv1_hyper,tir_lv2_hyper
0,3028,55.81,11.11,4.98,6.13,33.07,25.37,7.71
1,3028 2,55.81,11.11,4.98,6.13,33.07,25.37,7.71

In [13]:
result_metrics = pd.DataFrame()
for i in preprocessed_objects:
    if i.usable==True:
        tir = metrics.time_in_range(i.data)
        tir['ID'] = i.id
    else:
        #log something

NameError: name 'metrics' is not defined

In [12]:
total_df

                     time   glc  scan_glc      ID
0     2018-04-20 15:31:00  11.0       NaN    3028
1     2018-04-20 15:35:00   NaN      10.8    3028
2     2018-04-20 15:35:00   NaN       NaN    3028
3     2018-04-20 15:46:00  11.5       NaN    3028
4     2018-04-20 16:01:00  11.9       NaN    3028
...                   ...   ...       ...     ...
21820 2017-10-23 18:58:00   2.6       NaN  3028 2
21821 2017-10-23 19:13:00   2.2       NaN  3028 2
21823 2017-10-23 19:28:00   2.2       NaN  3028 2
21824 2017-10-23 19:44:00   2.2       NaN  3028 2
21826 2017-10-23 19:58:00   2.2       NaN  3028 2

[41697 rows x 4 columns]

In [ ]:
person1 = checkDevices.checkDevices(example1)

hello

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [3]:
person2 = checkDevices.checkDevices(example2)

hello

In [4]:
uk_data = person2.data
us_data = person2.data

In [5]:
us_data['glc'] = us_data['glc']/0.0557

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [4]:
person1.data

                   time   glc scan_glc
0      20-04-2018 15:31  11.0      NaN
1      20-04-2018 15:35   NaN     10.8
2      20-04-2018 15:35   NaN      NaN
3      20-04-2018 15:46  11.5      NaN
4      20-04-2018 16:01  11.9      NaN
...                 ...   ...      ...
21822  23-10-2017 19:44   2.2      NaN
21823  23-10-2017 19:50   NaN      2.2
21824  23-10-2017 19:58   2.2      NaN
21825  23-10-2017 20:06   NaN      2.2
21826  23-10-2017 20:13   NaN      2.2

[21827 rows x 3 columns]

In [30]:
if pd.notnull(example1.iloc[0,2]):
    print('booo')

In [27]:
if example1.iloc[0,2]:
    print('booo')

booo

In [10]:
header =['Meter',	'Serial Number',	'Meter Timestamp',	'Record Type',	'Historic Glucose(mmol/L)',	'Scan Glucose(mmol/L)']

In [16]:
print(set(example1.iloc[1]))

{nan, 'Scan Glucose(mmol/L)', 'Correction Insulin (units)', 'Historic Glucose(mmol/L)', 'Rapid-Acting Insulin (units)', 'Non-numeric Rapid-Acting Insulin', 'Long-Acting Insulin (units)', 'Serial Number', 'Notes', 'Carbohydrates (servings)', 'Ketone(mmol/L)', 'Record Type', 'Carbohydrates (grams)', 'Non-numeric Long-Acting Insulin', 'Non-numeric Food', 'Meter', 'User Change Insulin (units)', 'Strip Glucose(mmol/L)', 'Meter Timestamp', 'Meal Insulin (units)'}

In [17]:
if set(header).issubset(set(example1.iloc[1])):
    print('booo')

booobs

In [5]:
example1.count().max()

21829

In [3]:
preprocessing.preprocess_data(example1)

{'dt': ['14-09-2018'], 'glc_uk': ['Robert Andrews'], 'glc_us': []}

                   time   glc
0      20-04-2018 15:31  11.0
1      20-04-2018 15:46  11.5
2      20-04-2018 16:01  11.9
3      20-04-2018 16:16  12.7
4      20-04-2018 16:31  13.1
...                 ...   ...
19865  23-10-2017 18:58   2.6
19866  23-10-2017 19:13   2.2
19867  23-10-2017 19:28   2.2
19868  23-10-2017 19:44   2.2
19869  23-10-2017 19:58   2.2

[19870 rows x 2 columns]