In [4]:
import pandas as pd
import numpy as np
import preprocessing
import metrics_experiment
from sklearn.metrics import auc
import metrics_helper
from datetime import timedelta
import plotly.graph_objects as go
#import matplotlib.pyplot as plt
 
# Permanently changes the pandas settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
example1 = pd.read_csv('../tests/test-data/libre-data/3028 2.csv', header=None)
example2 = pd.read_csv('../tests/test-data/libre-data/3028 2.csv')

In [3]:
example3 = pd.read_csv('../tests/test-data/libre-test.csv', header=2)
example3 = example3[['Device Timestamp','Historic Glucose mmol/L']]
example3.columns = ['time', 'glc']
example3.time = pd.to_datetime(example3.time)
example3 = example3.dropna()

In [5]:
preprocessed_objects = []
for i in [example1, example2]:
    preprocessed_objects.append(preprocessing.preprocess_df(i, '3028 2.csv'))

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [5]:
df = pd.DataFrame.from_dict(preprocessed_objects[0]['data'])

NameError: name 'preprocessed_objects' is not defined

In [27]:
total_df = pd.DataFrame()
for i in preprocessed_objects:
    if i.usable==True:
        df_id = i.data
        df_id['ID'] = i.id
        total_df = total_df.append(i.data)

AttributeError: 'dict' object has no attribute 'usable'

In [5]:
results = total_df.groupby('ID').apply(
            lambda group: metrics_experiment.calculate_all_metrics(group, unit='blo', interval='b'))

blo b
blo b

## AG profile

In [6]:
df = example3

In [7]:
grouped = df.set_index('time').groupby(pd.Grouper(freq='15min')).mean()['glc']

In [8]:
example3.time = example3.time.dt.round('min')
grouped2 = example3.set_index('time').groupby(pd.Grouper(freq='15min')).mean()['glc']

In [9]:
group_frame = grouped2.reset_index().dropna()

In [10]:
amb_prof = group_frame.groupby(group_frame['time'].dt.time).apply(lambda group: pd.DataFrame([np.percentile(group.glc, [90, 75, 50, 25, 10])], columns=['q90', 'q3', 'q2', 'q1', 'q10'])).reset_index().drop(columns=['level_1'])

In [11]:
amb_prof.head()

       time   q90     q3    q2     q1   q10
0  00:00:00  6.69  5.600  5.20  4.825  4.38
1  00:15:00  6.18  5.850  5.45  4.800  4.05
2  00:30:00  6.11  5.675  5.15  4.200  4.10
3  00:45:00  6.01  5.700  5.00  4.400  3.69
4  01:00:00  5.91  5.650  5.00  4.150  3.44

In [76]:
amb_prof['time'].astype(str).head()

0    00:00:00
1    00:15:00
2    00:30:00
3    00:45:00
4    01:00:00
Name: time, dtype: object

In [17]:
x = amb_prof['time'] #.astype(str)
x_rev = x[::-1]
q2 = amb_prof['q2']
q1 = amb_prof['q1']
q3 = amb_prof['q3']
q10 = amb_prof['q10']
q90 = amb_prof['q90']

In [ ]:
fig = go.Figure()

'''fig.add_trace(go.Scatter(
    x=x,
    y=q1,
    fill='toself',
    fillcolor='rgba(0,100,80,0.2)',
    line_color='rgba(255,255,255,0)',
    showlegend=False,
    name='Fair',
))'''
fig.add_trace(go.Scatter(
    x=x, y=q1,
    line_color='rgb(0,176,246)',
    name='Premium',
    ))
fig.add_trace(go.Scatter(
    x=x,
    y=q3,
    fill='tonexty',
    fillcolor='rgba(0,100,80,0.2)',
    line_color='rgba(255,255,255,0)',
    showlegend=False,
    name='Fair',
))
fig.add_trace(go.Scatter(
    x=x, y=q2,
    line_color='rgb(0,100,80)',
    name='Fair',

In [36]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=x, y=q1,
    fill=None,
    line_color='rgb(0,176,246)',
    name='Premium',
    ))
fig.add_trace(go.Scatter(
    x=x,
    y=q3,
    fill='tonexty',
    fillcolor='rgba(0,100,80,0.2)',
    line_color='rgba(255,255,255,0)',
    showlegend=False,
    name='Fair',
))
fig.add_trace(go.Scatter(
    x=x, y=q2,
    line_color='rgb(0,100,80)',
    name='Fair',
))
fig.add_trace(go.Scatter(
    x=x,
    y=q3,
    line_color='rgb(0,176,246)',
    showlegend=False,
    name='Fair',
))
fig.add_trace(go.Scatter(
    x=x,
    y=q10,
    line_color='green',
    showlegend=False,
    #dash='dash',
    name='Fair',
))
fig.add_trace(go.Scatter(
    x=x,
    y=q90,
    line_color='green',
    showlegend=False,
    line=dict(dash='dash'),
    name='Fair',
))

ValueError: Invalid property specified for object of type plotly.graph_objs.Scatter: 'dash'

Did you mean "dx"?

    Valid properties:
        cliponaxis
            Determines whether or not markers and text nodes are
            clipped about the subplot axes. To show markers and
            text nodes above axis lines and tick labels, make sure
            to set `xaxis.layer` and `yaxis.layer` to *below
            traces*.
        connectgaps
            Determines whether or not gaps (i.e. {nan} or missing
            values) in the provided data arrays are connected.
        customdata
            Assigns extra data each datum. This may be useful when
            listening to hover, click and selection events. Note
            that, "scatter" traces also appends customdata items in
            the markers DOM elements
        customdatasrc
            Sets the source reference on Chart Studio Cloud for
            `customdata`.
        dx
            Sets the x coordinate step. See `x0` for more info.
        dy
            Sets the y coordinate step. See `y0` for more info.
        error_x
            :class:`plotly.graph_objects.scatter.ErrorX` instance
            or dict with compatible properties
        error_y
            :class:`plotly.graph_objects.scatter.ErrorY` instance
            or dict with compatible properties
        fill
            Sets the area to fill with a solid color. Defaults to
            "none" unless this trace is stacked, then it gets
            "tonexty" ("tonextx") if `orientation` is "v" ("h") Use
            with `fillcolor` if not "none". "tozerox" and "tozeroy"
            fill to x=0 and y=0 respectively. "tonextx" and
            "tonexty" fill between the endpoints of this trace and
            the endpoints of the trace before it, connecting those
            endpoints with straight lines (to make a stacked area
            graph); if there is no trace before it, they behave
            like "tozerox" and "tozeroy". "toself" connects the
            endpoints of the trace (or each segment of the trace if
            it has gaps) into a closed shape. "tonext" fills the
            space between two traces if one completely encloses the
            other (eg consecutive contour lines), and behaves like
            "toself" if there is no trace before it. "tonext"
            should not be used if one trace does not enclose the
            other. Traces in a `stackgroup` will only fill to (or
            be filled to) other traces in the same group. With
            multiple `stackgroup`s or some traces stacked and some
            not, if fill-linked traces are not already consecutive,
            the later ones will be pushed down in the drawing
            order.
        fillcolor
            Sets the fill color. Defaults to a half-transparent
            variant of the line color, marker color, or marker line
            color, whichever is available.
        fillpattern
            Sets the pattern within the marker.
        groupnorm
            Only relevant when `stackgroup` is used, and only the
            first `groupnorm` found in the `stackgroup` will be
            used - including if `visible` is "legendonly" but not
            if it is `false`. Sets the normalization for the sum of
            this `stackgroup`. With "fraction", the value of each
            trace at each location is divided by the sum of all
            trace values at that location. "percent" is the same
            but multiplied by 100 to show percentages. If there are
            multiple subplots, or multiple `stackgroup`s on one
            subplot, each will be normalized within its own set.
        hoverinfo
            Determines which trace information appear on hover. If
            `none` or `skip` are set, no information is displayed
            upon hovering. But, if `none` is set, click and hover
            events are still fired.
        hoverinfosrc
            Sets the source reference on Chart Studio Cloud for
            `hoverinfo`.
        hoverlabel
            :class:`plotly.graph_objects.scatter.Hoverlabel`
            instance or dict with compatible properties
        hoveron
            Do the hover effects highlight individual points
            (markers or line points) or do they highlight filled
            regions? If the fill is "toself" or "tonext" and there
            are no markers or text, then the default is "fills",
            otherwise it is "points".
        hovertemplate
            Template string used for rendering the information that
            appear on hover box. Note that this will override
            `hoverinfo`. Variables are inserted using %{variable},
            for example "y: %{y}" as well as %{xother}, {%_xother},
            {%_xother_}, {%xother_}. When showing info for several
            points, "xother" will be added to those with different
            x positions from the first point. An underscore before
            or after "(x|y)other" will add a space on that side,
            only when this field is shown. Numbers are formatted
            using d3-format's syntax %{variable:d3-format}, for
            example "Price: %{y:$.2f}".
            https://github.com/d3/d3-format/tree/v1.4.5#d3-format
            for details on the formatting syntax. Dates are
            formatted using d3-time-format's syntax
            %{variable|d3-time-format}, for example "Day:
            %{2019-01-01|%A}". https://github.com/d3/d3-time-
            format/tree/v2.2.3#locale_format for details on the
            date formatting syntax. The variables available in
            `hovertemplate` are the ones emitted as event data
            described at this link
            https://plotly.com/javascript/plotlyjs-events/#event-
            data. Additionally, every attributes that can be
            specified per-point (the ones that are `arrayOk: true`)
            are available.  Anything contained in tag `<extra>` is
            displayed in the secondary box, for example
            "<extra>{fullData.name}</extra>". To hide the secondary
            box completely, use an empty tag `<extra></extra>`.
        hovertemplatesrc
            Sets the source reference on Chart Studio Cloud for
            `hovertemplate`.
        hovertext
            Sets hover text elements associated with each (x,y)
            pair. If a single string, the same string appears over
            all the data points. If an array of string, the items
            are mapped in order to the this trace's (x,y)
            coordinates. To be seen, trace `hoverinfo` must contain
            a "text" flag.
        hovertextsrc
            Sets the source reference on Chart Studio Cloud for
            `hovertext`.
        ids
            Assigns id labels to each datum. These ids for object
            constancy of data points during animation. Should be an
            array of strings, not numbers or any other type.
        idssrc
            Sets the source reference on Chart Studio Cloud for
            `ids`.
        legendgroup
            Sets the legend group for this trace. Traces part of
            the same legend group hide/show at the same time when
            toggling legend items.
        legendgrouptitle
            :class:`plotly.graph_objects.scatter.Legendgrouptitle`
            instance or dict with compatible properties
        legendrank
            Sets the legend rank for this trace. Items and groups
            with smaller ranks are presented on top/left side while
            with `*reversed* `legend.traceorder` they are on
            bottom/right side. The default legendrank is 1000, so
            that you can use ranks less than 1000 to place certain
            items before all unranked items, and ranks greater than
            1000 to go after all unranked items.
        legendwidth
            Sets the width (in px or fraction) of the legend for
            this trace.
        line
            :class:`plotly.graph_objects.scatter.Line` instance or
            dict with compatible properties
        marker
            :class:`plotly.graph_objects.scatter.Marker` instance
            or dict with compatible properties
        meta
            Assigns extra meta information associated with this
            trace that can be used in various text attributes.
            Attributes such as trace `name`, graph, axis and
            colorbar `title.text`, annotation `text`
            `rangeselector`, `updatemenues` and `sliders` `label`
            text all support `meta`. To access the trace `meta`
            values in an attribute in the same trace, simply use
            `%{meta[i]}` where `i` is the index or key of the
            `meta` item in question. To access trace `meta` in
            layout attributes, use `%{data[n[.meta[i]}` where `i`
            is the index or key of the `meta` and `n` is the trace
            index.
        metasrc
            Sets the source reference on Chart Studio Cloud for
            `meta`.
        mode
            Determines the drawing mode for this scatter trace. If
            the provided `mode` includes "text" then the `text`
            elements appear at the coordinates. Otherwise, the
            `text` elements appear on hover. If there are less than
            20 points and the trace is not stacked then the default
            is "lines+markers". Otherwise, "lines".
        name
            Sets the trace name. The trace name appear as the
            legend item and on hover.
        opacity
            Sets the opacity of the trace.
        orientation
            Only relevant when `stackgroup` is used, and only the
            first `orientation` found in the `stackgroup` will be
            used - including if `visible` is "legendonly" but not
            if it is `false`. Sets the stacking direction. With "v"
            ("h"), the y (x) values of subsequent traces are added.
            Also affects the default value of `fill`.
        selected
            :class:`plotly.graph_objects.scatter.Selected` instance
            or dict with compatible properties
        selectedpoints
            Array containing integer indices of selected points.
            Has an effect only for traces that support selections.
            Note that an empty array means an empty selection where
            the `unselected` are turned on for all points, whereas,
            any other non-array values means no selection all where
            the `selected` and `unselected` styles have no effect.
        showlegend
            Determines whether or not an item corresponding to this
            trace is shown in the legend.
        stackgaps
            Only relevant when `stackgroup` is used, and only the
            first `stackgaps` found in the `stackgroup` will be
            used - including if `visible` is "legendonly" but not
            if it is `false`. Determines how we handle locations at
            which other traces in this group have data but this one
            does not. With *infer zero* we insert a zero at these
            locations. With "interpolate" we linearly interpolate
            between existing values, and extrapolate a constant
            beyond the existing values.
        stackgroup
            Set several scatter traces (on the same subplot) to the
            same stackgroup in order to add their y values (or
            their x values if `orientation` is "h"). If blank or
            omitted this trace will not be stacked. Stacking also
            turns `fill` on by default, using "tonexty" ("tonextx")
            if `orientation` is "h" ("v") and sets the default
            `mode` to "lines" irrespective of point count. You can
            only stack on a numeric (linear or log) axis. Traces in
            a `stackgroup` will only fill to (or be filled to)
            other traces in the same group. With multiple
            `stackgroup`s or some traces stacked and some not, if
            fill-linked traces are not already consecutive, the
            later ones will be pushed down in the drawing order.
        stream
            :class:`plotly.graph_objects.scatter.Stream` instance
            or dict with compatible properties
        text
            Sets text elements associated with each (x,y) pair. If
            a single string, the same string appears over all the
            data points. If an array of string, the items are
            mapped in order to the this trace's (x,y) coordinates.
            If trace `hoverinfo` contains a "text" flag and
            "hovertext" is not set, these elements will be seen in
            the hover labels.
        textfont
            Sets the text font.
        textposition
            Sets the positions of the `text` elements with respects
            to the (x,y) coordinates.
        textpositionsrc
            Sets the source reference on Chart Studio Cloud for
            `textposition`.
        textsrc
            Sets the source reference on Chart Studio Cloud for
            `text`.
        texttemplate
            Template string used for rendering the information text
            that appear on points. Note that this will override
            `textinfo`. Variables are inserted using %{variable},
            for example "y: %{y}". Numbers are formatted using
            d3-format's syntax %{variable:d3-format}, for example
            "Price: %{y:$.2f}".
            https://github.com/d3/d3-format/tree/v1.4.5#d3-format
            for details on the formatting syntax. Dates are
            formatted using d3-time-format's syntax
            %{variable|d3-time-format}, for example "Day:
            %{2019-01-01|%A}". https://github.com/d3/d3-time-
            format/tree/v2.2.3#locale_format for details on the
            date formatting syntax. Every attributes that can be
            specified per-point (the ones that are `arrayOk: true`)
            are available.
        texttemplatesrc
            Sets the source reference on Chart Studio Cloud for
            `texttemplate`.
        uid
            Assign an id to this trace, Use this to provide object
            constancy between traces during animations and
            transitions.
        uirevision
            Controls persistence of some user-driven changes to the
            trace: `constraintrange` in `parcoords` traces, as well
            as some `editable: true` modifications such as `name`
            and `colorbar.title`. Defaults to `layout.uirevision`.
            Note that other user-driven trace attribute changes are
            controlled by `layout` attributes: `trace.visible` is
            controlled by `layout.legend.uirevision`,
            `selectedpoints` is controlled by
            `layout.selectionrevision`, and `colorbar.(x|y)`
            (accessible with `config: {editable: true}`) is
            controlled by `layout.editrevision`. Trace changes are
            tracked by `uid`, which only falls back on trace index
            if no `uid` is provided. So if your app can add/remove
            traces before the end of the `data` array, such that
            the same trace has a different index, you can still
            preserve user-driven changes if you give each trace a
            `uid` that stays with it as it moves.
        unselected
            :class:`plotly.graph_objects.scatter.Unselected`
            instance or dict with compatible properties
        visible
            Determines whether or not this trace is visible. If
            "legendonly", the trace is not drawn, but can appear as
            a legend item (provided that the legend itself is
            visible).
        x
            Sets the x coordinates.
        x0
            Alternate to `x`. Builds a linear space of x
            coordinates. Use with `dx` where `x0` is the starting
            coordinate and `dx` the step.
        xaxis
            Sets a reference between this trace's x coordinates and
            a 2D cartesian x axis. If "x" (the default value), the
            x coordinates refer to `layout.xaxis`. If "x2", the x
            coordinates refer to `layout.xaxis2`, and so on.
        xcalendar
            Sets the calendar system to use with `x` date data.
        xhoverformat
            Sets the hover text formatting rulefor `x`  using d3
            formatting mini-languages which are very similar to
            those in Python. For numbers, see:
            https://github.com/d3/d3-format/tree/v1.4.5#d3-format.
            And for dates see: https://github.com/d3/d3-time-
            format/tree/v2.2.3#locale_format. We add two items to
            d3's date formatter: "%h" for half of the year as a
            decimal number as well as "%{n}f" for fractional
            seconds with n digits. For example, *2016-10-13
            09:15:23.456* with tickformat "%H~%M~%S.%2f" would
            display *09~15~23.46*By default the values are
            formatted using `xaxis.hoverformat`.
        xperiod
            Only relevant when the axis `type` is "date". Sets the
            period positioning in milliseconds or "M<n>" on the x
            axis. Special values in the form of "M<n>" could be
            used to declare the number of months. In this case `n`
            must be a positive integer.
        xperiod0
            Only relevant when the axis `type` is "date". Sets the
            base for period positioning in milliseconds or date
            string on the x0 axis. When `x0period` is round number
            of weeks, the `x0period0` by default would be on a
            Sunday i.e. 2000-01-02, otherwise it would be at
            2000-01-01.
        xperiodalignment
            Only relevant when the axis `type` is "date". Sets the
            alignment of data points on the x axis.
        xsrc
            Sets the source reference on Chart Studio Cloud for
            `x`.
        y
            Sets the y coordinates.
        y0
            Alternate to `y`. Builds a linear space of y
            coordinates. Use with `dy` where `y0` is the starting
            coordinate and `dy` the step.
        yaxis
            Sets a reference between this trace's y coordinates and
            a 2D cartesian y axis. If "y" (the default value), the
            y coordinates refer to `layout.yaxis`. If "y2", the y
            coordinates refer to `layout.yaxis2`, and so on.
        ycalendar
            Sets the calendar system to use with `y` date data.
        yhoverformat
            Sets the hover text formatting rulefor `y`  using d3
            formatting mini-languages which are very similar to
            those in Python. For numbers, see:
            https://github.com/d3/d3-format/tree/v1.4.5#d3-format.
            And for dates see: https://github.com/d3/d3-time-
            format/tree/v2.2.3#locale_format. We add two items to
            d3's date formatter: "%h" for half of the year as a
            decimal number as well as "%{n}f" for fractional
            seconds with n digits. For example, *2016-10-13
            09:15:23.456* with tickformat "%H~%M~%S.%2f" would
            display *09~15~23.46*By default the values are
            formatted using `yaxis.hoverformat`.
        yperiod
            Only relevant when the axis `type` is "date". Sets the
            period positioning in milliseconds or "M<n>" on the y
            axis. Special values in the form of "M<n>" could be
            used to declare the number of months. In this case `n`
            must be a positive integer.
        yperiod0
            Only relevant when the axis `type` is "date". Sets the
            base for period positioning in milliseconds or date
            string on the y0 axis. When `y0period` is round number
            of weeks, the `y0period0` by default would be on a

In [25]:
fig, ax = plt.subplots(figsize=(18,9))
ax.plot(amb_prof['time'].astype(str), amb_prof['q2'], color='orange')
ax.plot(amb_prof['time'].astype(str), amb_prof['q1'], color='teal')
ax.plot(amb_prof['time'].astype(str), amb_prof['q3'], color='teal')
ax.fill_between(amb_prof['time'].astype(str), amb_prof['q3'], amb_prof['q1'], alpha=0.2)
ax.plot(amb_prof['time'].astype(str), amb_prof['q10'], color='green', linestyle='dashed')
ax.plot(amb_prof['time'].astype(str), amb_prof['q90'], color='green', linestyle='dashed')

NameError: name 'plt' is not defined

## LBGI experiment

Kovatchev BP, Cox DJ, Gonder-Frederick LA, Young-Hyman D, Schlundt D, Clarke WL: Assessment of risk for severe hypoglycemia among adults with IDDM: validation of the low blood glucose index. Diabetes Care  21 :1870 –1875, 1998

In [10]:
from datetime import timedelta

In [29]:
df = preprocessed_objects[0]['data']
df.dropna(inplace=True, subset=['glc'])

In [23]:
df.reset_index(drop=True, inplace=True)

In [43]:
df

                     time   glc  scan_glc
0     2018-04-20 15:31:00  11.0       NaN
3     2018-04-20 15:46:00  11.5       NaN
4     2018-04-20 16:01:00  11.9       NaN
5     2018-04-20 16:16:00  12.7       NaN
6     2018-04-20 16:31:00  13.1       NaN
...                   ...   ...       ...
21818 2017-10-23 18:58:00   2.6       NaN
21819 2017-10-23 19:13:00   2.2       NaN
21821 2017-10-23 19:28:00   2.2       NaN
21822 2017-10-23 19:44:00   2.2       NaN
21824 2017-10-23 19:58:00   2.2       NaN

[19870 rows x 3 columns]

In [47]:
df.set_index(['time'], inplace=True)

In [48]:
day = df.between_time('06:00','23:59')
night = df[~df.index.isin(day.index)]

In [49]:
day

                      glc  scan_glc
time
2018-04-20 15:31:00  11.0       NaN
2018-04-20 15:46:00  11.5       NaN
2018-04-20 16:01:00  11.9       NaN
2018-04-20 16:16:00  12.7       NaN
2018-04-20 16:31:00  13.1       NaN
...                   ...       ...
2017-10-23 18:58:00   2.6       NaN
2017-10-23 19:13:00   2.2       NaN
2017-10-23 19:28:00   2.2       NaN
2017-10-23 19:44:00   2.2       NaN
2017-10-23 19:58:00   2.2       NaN

[14907 rows x 2 columns]

In [50]:
night

                     glc  scan_glc
time
2018-04-21 00:02:00  2.2       NaN
2018-04-21 00:17:00  2.2       NaN
2018-04-21 00:32:00  2.3       NaN
2018-04-21 00:47:00  2.7       NaN
2018-04-21 01:02:00  3.1       NaN
...                  ...       ...
2017-10-23 04:56:00  2.2       NaN
2017-10-23 05:11:00  2.2       NaN
2017-10-23 05:26:00  2.2       NaN
2017-10-23 05:41:00  2.2       NaN
2017-10-23 05:56:00  2.2       NaN

[4963 rows x 2 columns]

In [65]:
def calc_bgi(glucose, mmol=True):
    if mmol:
        num1=1.794
        num2=1.026
        num3=1.861
    else:
        num1=1.509
        num2=1.084
        num3=5.381
    bgi = num1*(np.log(glucose)**num2 - num3)
    return bgi
    
def calc_lbgi(glucose, mmol=True):
    bgi = calc_bgi(glucose, mmol)
    lbgi = 10*(min(bgi, 0)**2)
    return lbgi

def calc_hbgi(glucose, mmol=True):
    bgi = calc_bgi(glucose, mmol)
    hbgi = 10*(max(bgi, 0)**2)
    return hbgi

def helper_bgi(df):
    lbgi = df['glc'].apply(lambda x: calc_lbgi(x)).mean()
    hbgi = df['glc'].apply(lambda x: calc_hbgi(x)).mean()
    return {'LBGI': lbgi, 'HBGI':hbgi}

In [70]:
helper_bgi(df)

{'LBGI': 2.979953584229811, 'HBGI': 6.99762682940931}

## Data sufficiency

In [31]:
df = preprocessed_objects[0]['data'].copy()
#df.dropna(subset=['glc', 'time'], inplace=True)

In [32]:
df

                     time   glc  scan_glc
0     2018-04-20 15:31:00  11.0       NaN
1     2018-04-20 15:35:00   NaN      10.8
2     2018-04-20 15:35:00   NaN       NaN
3     2018-04-20 15:46:00  11.5       NaN
4     2018-04-20 16:01:00  11.9       NaN
...                   ...   ...       ...
21822 2017-10-23 19:44:00   2.2       NaN
21823 2017-10-23 19:50:00   NaN       2.2
21824 2017-10-23 19:58:00   2.2       NaN
21825 2017-10-23 20:06:00   NaN       2.2
21826 2017-10-23 20:13:00   NaN       2.2

[21827 rows x 3 columns]

In [33]:
test1 = df.iloc[0:10]
#test1.iloc[2]['glc'] = np.nan

In [34]:
test1

                 time   glc  scan_glc
0 2018-04-20 15:31:00  11.0       NaN
1 2018-04-20 15:35:00   NaN      10.8
2 2018-04-20 15:35:00   NaN       NaN
3 2018-04-20 15:46:00  11.5       NaN
4 2018-04-20 16:01:00  11.9       NaN
5 2018-04-20 16:16:00  12.7       NaN
6 2018-04-20 16:31:00  13.1       NaN
7 2018-04-20 16:46:00  12.8       NaN
8 2018-04-20 17:01:00  12.8       NaN
9 2018-04-20 17:16:00  13.0       NaN

In [101]:
test3.to_csv('../tests/test-data/perc_missing_test3.csv')

In [36]:
helper_missing(test1, 15)

{'Start Time': '2018-04-20 15:31:00',
 'End Time': '2018-04-20 17:16:00',
 'Data Sufficiency': 100}

In [99]:
test2 = test1.copy()
test2.iloc[1]['glc'] = 10.8
test2.to_csv('../tests/test-data/perc_missing_test2.csv')

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [97]:
test3 = test1.dropna(subset=['glc'])[['time', 'glc']].reset_index(drop=True)
test3['glc'].iloc[[3,7]]= np.nan

In [98]:
test3

                 time   glc
0 2018-04-20 15:31:00  11.0
1 2018-04-20 15:46:00  11.5
2 2018-04-20 16:01:00  11.9
3 2018-04-20 16:16:00  12.7
4 2018-04-20 16:31:00  13.1
5 2018-04-20 16:46:00  12.8
6 2018-04-20 17:01:00  12.8
7 2018-04-20 17:16:00  13.0

                 time   glc  scan_glc
3 2018-04-20 15:46:00  11.5       NaN
7 2018-04-20 16:46:00  12.8       NaN

In [92]:
test3['glc'].iloc[[3,7]]= np.nan

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [93]:
test3

                 time   glc  scan_glc
0 2018-04-20 15:31:00  11.0       NaN
1 2018-04-20 15:35:00   NaN      10.8
2 2018-04-20 15:35:00   NaN       NaN
3 2018-04-20 15:46:00   NaN       NaN
4 2018-04-20 16:01:00  11.9       NaN
5 2018-04-20 16:16:00  12.7       NaN
6 2018-04-20 16:31:00  13.1       NaN
7 2018-04-20 16:46:00   NaN       NaN
8 2018-04-20 17:01:00  12.8       NaN
9 2018-04-20 17:16:00  13.0       NaN

In [37]:
test1.dropna(subset=['time', 'glc'])

                 time   glc  scan_glc
0 2018-04-20 15:31:00  11.0       NaN
3 2018-04-20 15:46:00  11.5       NaN
4 2018-04-20 16:01:00  11.9       NaN
5 2018-04-20 16:16:00  12.7       NaN
6 2018-04-20 16:31:00  13.1       NaN
7 2018-04-20 16:46:00  12.8       NaN
8 2018-04-20 17:01:00  12.8       NaN
9 2018-04-20 17:16:00  13.0       NaN

In [58]:
((test1.time.iloc[-1] - test1.time.iloc[0])+timedelta(minutes=15))/+timedelta(minutes=15)

8.0

In [39]:
number_readings = sum(test1.set_index('time').groupby(pd.Grouper(freq='15min')).count()['glc'] > 0)

In [40]:
number_readings

8

In [53]:
number_readings = sum(test2.set_index('time').groupby(pd.Grouper(freq='15min')).count()['glc'] > 0)
number_readings

8

In [42]:
start_time = test1['time'].iloc[0]
end_time = test1['time'].iloc[-1]
time_diff = (end_time - start_time)
total_readings = time_diff.total_seconds() / (60 * 15)

In [76]:
test3.iloc[7]['glc'] = np.nan

In [77]:
test3

                 time   glc  scan_glc
0 2018-04-20 15:31:00  11.0       NaN
1 2018-04-20 15:35:00   NaN      10.8
2 2018-04-20 15:35:00   NaN       NaN
3 2018-04-20 15:46:00  11.5       NaN
4 2018-04-20 16:01:00  11.9       NaN
5                 NaT   NaN       NaN
6 2018-04-20 16:31:00  13.1       NaN
7                 NaT   NaN       NaN
8 2018-04-20 17:01:00  12.8       NaN
9 2018-04-20 17:16:00  13.0       NaN

In [72]:
test3.dropna(subset=['glc'])

                 time   glc  scan_glc
0 2018-04-20 15:31:00  11.0       NaN
3 2018-04-20 15:46:00  11.5       NaN
4 2018-04-20 16:01:00  11.9       NaN
5 2018-04-20 16:16:00  12.7       NaN
6 2018-04-20 16:31:00  13.1       NaN
7 2018-04-20 16:46:00  12.8       NaN
8 2018-04-20 17:01:00  12.8       NaN
9 2018-04-20 17:16:00  13.0       NaN

In [66]:
helper_missing(test1, 15)

{'Start Time': '2018-04-20 15:31:00',
 'End Time': '2018-04-20 17:16:00',
 'Data Sufficiency': 100}

In [68]:
helper_missing(test2, 15)

{'Start Time': '2018-04-20 15:31:00',
 'End Time': '2018-04-20 17:16:00',
 'Data Sufficiency': 100}

In [94]:
helper_missing(test3, 15)

6

{'Start Time': '2018-04-20 15:31:00',
 'End Time': '2018-04-20 17:16:00',
 'Data Sufficiency': 75.0}

In [73]:
def helper_missing(df, gap_size): #, start_time, end_time
    """
    Helper for percent_missing function
    """
    # Calculate start and end time from dataframe
    start_time = df['time'].iloc[0]
    end_time = df['time'].iloc[-1]
    
    if gap_size == 5:
        freq = '5min'
    elif gap_size==15:
        freq = '15min'
    else:
        return print('EXPLODE THE PROGRAM')
    
    # calculate the number of non-null values
    number_readings = sum(df.set_index('time').groupby(pd.Grouper(freq=freq)).count()['glc'] > 0)
    # calculate the missing data based on start and end of df
    total_readings = ((end_time - start_time)+timedelta(minutes=gap_size))/+timedelta(minutes=gap_size)


    if number_readings >= total_readings:
        data_sufficiency = 100
    else:
        data_sufficiency = number_readings*100/total_readings
    
    return {'Start Time': str(start_time.round('min')), 'End Time':str(end_time.round('min')), 'Data Sufficiency':np.round(data_sufficiency, 1)}

In [10]:
helper_missing(df, 15)

{'Start Time': '2016-01-08 00:01:00',
 'End Time': '2018-12-09 23:54:00',
 'Data Sufficiency': 19.4}

In [5]:

df['time'] = pd.to_datetime(df['time'])
df.sort_values('time', inplace=True)
df.reset_index(drop=True, inplace=True)
df.dropna(subset=['glc', 'time'], inplace=True)

In [39]:
df.time = df.time.apply(lambda x: x.timestamp())

In [42]:
df.describe()

                glc  scan_glc
count  19870.000000       0.0
mean       8.498440       NaN
std        3.667772       NaN
min        2.200000       NaN
25%        5.800000       NaN
50%        8.300000       NaN
75%       11.000000       NaN
max       27.800000       NaN

In [92]:
df.time

0       2018-04-20 15:31:00
3       2018-04-20 15:46:00
4       2018-04-20 16:01:00
5       2018-04-20 16:16:00
6       2018-04-20 16:31:00
                ...
21818   2017-10-23 18:58:00
21819   2017-10-23 19:13:00
21821   2017-10-23 19:28:00
21822   2017-10-23 19:44:00
21824   2017-10-23 19:58:00
Name: time, Length: 19870, dtype: datetime64[ns]

In [31]:
df.time.values.astype(float)

array([1.45221126e+09, 1.45221216e+09, 1.45221306e+09, ...,
       1.54439784e+09, 1.54439874e+09, 1.54439964e+09])

In [37]:
df

                               time  glc  scan_glc
0     1970-01-01 00:00:01.452211260  3.6       NaN
1     1970-01-01 00:00:01.452212160  3.1       NaN
2     1970-01-01 00:00:01.452213060  2.3       NaN
3     1970-01-01 00:00:01.452213960  2.2       NaN
4     1970-01-01 00:00:01.452214860  2.2       NaN
...                             ...  ...       ...
21822 1970-01-01 00:00:01.544396340  NaN       NaN
21823 1970-01-01 00:00:01.544396940  4.9       NaN
21824 1970-01-01 00:00:01.544397840  5.7       NaN
21825 1970-01-01 00:00:01.544398740  5.2       NaN
21826 1970-01-01 00:00:01.544399640  5.1       NaN

[21827 rows x 3 columns]

## AUC

https://www.researchgate.net/publication/5552064_A_Novel_Strategy_in_Production_of_Oligosaccharides_in_Digestive_Tract_Prevention_of_Postprandial_Hyperglycemia_and_Hyperinsulinemia/figures?lo=1

In [5]:
df = preprocessed_objects[0]['data']
df = df.dropna(subset=['time', 'glc']).sort_values('time').reset_index(drop=True)

NameError: name 'preprocessed_objects' is not defined

In [4]:
df = example3
df.time = pd.to_datetime(df.time)

In [9]:
def calculate_auc(df):
    if df.shape[0]>1:
        start_time = df.time.iloc[0]
        mins_from_start = df.time.apply(lambda x: x-start_time)
        df['hours_from_start'] = mins_from_start.apply(lambda x: (x.total_seconds()/60)/60)
        avg_auc = auc(df['hours_from_start'], df['glc'])#/24
        return avg_auc
    else:
        return np.nan

def auc_helper(df):
    df['date'] = df['time'].dt.date
    df['hour'] = df['time'].dt.hour
    hourly_breakdown = df.groupby([df.date, df.hour]).apply(lambda group: calculate_auc(group)).reset_index()
    hourly_breakdown.columns = ['date', 'hour', 'auc']
    daily_breakdown = hourly_breakdown.groupby('date').auc.mean()
    hourly_avg = hourly_breakdown.auc.mean()
    #daily_auc = df.groupby(df['time'].dt.date).apply(lambda group: calculate_auc(group))/24 # .reset_index()
    #daily_avg = daily_auc.mean()
    return  hourly_avg, daily_breakdown, hourly_breakdown

In [12]:
daily_breakdown

date
2020-01-13    3.199479
2020-01-14    2.885417
2020-01-15    3.111979
2020-01-16    3.252083
2020-01-17    3.518750
2020-01-18    3.323438
2020-01-19    3.289583
2020-01-20    3.634375
2020-01-21    3.554167
2020-01-22    3.240625
2020-01-23    3.658333
2020-01-24    2.520833
2020-10-01    1.993182
2020-11-01    2.630208
2020-12-01    3.450000
Name: auc, dtype: float64

In [10]:
hourly_avg, daily_breakdown, hourly_breakdown  = auc_helper(df)

         date  hour     auc
0  2020-01-13     0  4.1250
1  2020-01-13     1  4.2000
2  2020-01-13     2  4.5500
3  2020-01-13     3  4.4625
4  2020-01-13     4  3.9125
3.2246234939759035

In [5]:
def calculate_auc(df):
    if df.shape[0]>1:
        start_time = df.time.iloc[0]
        mins_from_start = df.time.apply(lambda x: x-start_time)
        df['hours_from_start'] = mins_from_start.apply(lambda x: (x.total_seconds()/60)/60)
        avg_auc = auc(df['hours_from_start'], df['glc'])#/24
        return avg_auc
    else:
        return np.nan

In [6]:
def calculate_auc(df):
    hourly_breakdown = df.groupby([df['time'].dt.date, df['time'].dt.hour]).apply(lambda group: calculate_auc(group))#.reset_index()
    
    # Hacking the weird groupby index labelling
    hourly_breakdown = hourly_breakdown.reset_index(level=1)
    hourly_breakdown.columns = ['hour', 'auc']
    hourly_breakdown = hourly_breakdown.reset_index()
    hourly_breakdown.columns = ['date', 'hour', 'auc']
    daily_breakdown = hourly_breakdown.groupby('date').auc.mean()

    hourly_avg = hourly_breakdown.auc.mean()
    #daily_auc = df.groupby(df['time'].dt.date).apply(lambda group: calculate_auc(group))/24 # .reset_index()
    #daily_avg = daily_auc.mean()
    return hourly_avg, daily_breakdown, hourly_breakdown

In [10]:
hourly_avg,  hourly_breakdown = calculate_auc(df)

:

:

In [7]:
datimeshiz = df.groupby([df['time'].dt.date, df['time'].dt.hour]).apply(lambda group: calculate_daily_auc(group))#.reset_index()

NameError: name 'calculate_daily_auc' is not defined

In [48]:
datimeshiz = datimeshiz.reset_index(level=0)
datimeshiz.columns = ['date', 'auc']
datimeshiz = datimeshiz.reset_index(level=0)

In [49]:
datimeshiz

     time        date     auc
0       0  2020-01-13  4.1250
1       1  2020-01-13  4.2000
2       2  2020-01-13  4.5500
3       3  2020-01-13  4.4625
4       4  2020-01-13  3.9125
5       5  2020-01-13  3.8375
6       6  2020-01-13  3.5375
7       7  2020-01-13  3.6500
8       8  2020-01-13  3.2875
9       9  2020-01-13  3.2750
10     10  2020-01-13  3.0125
11     11  2020-01-13  2.8625
12     12  2020-01-13  2.1250
13     13  2020-01-13  2.0375
14     14  2020-01-13  2.4875
15     15  2020-01-13  3.1875
16     16  2020-01-13  3.5125
17     17  2020-01-13  2.6500
18     18  2020-01-13  2.4125
19     19  2020-01-13  2.2125
20     20  2020-01-13  3.2250
21     21  2020-01-13  2.7000
22     22  2020-01-13  2.5875
23     23  2020-01-13  2.9375
24      0  2020-01-14  3.5500
25      1  2020-01-14  2.9875
26      2  2020-01-14  3.6000
27      3  2020-01-14  2.8625
28      4  2020-01-14  2.9500
29      5  2020-01-14  2.3625
30      6  2020-01-14  2.3750
31      7  2020-01-14  2.1125
32      8  2020-01-14  2.1625
33      9  2020-01-14  2.2750
34     10  2020-01-14  2.4125
35     11  2020-01-14  3.4875
36     12  2020-01-14  2.5750
37     13  2020-01-14  2.0750
38     14  2020-01-14  2.6125
39     15  2020-01-14  2.9000
40     16  2020-01-14  2.0750
41     17  2020-01-14  2.0500
42     18  2020-01-14  2.4875
43     19  2020-01-14  2.6375
44     20  2020-01-14  4.0750
45     21  2020-01-14  4.7500
46     22  2020-01-14  4.3875
47     23  2020-01-14  3.4875
48      0  2020-01-15  3.2750
49      1  2020-01-15  3.1500
50      2  2020-01-15  2.7625
51      3  2020-01-15  2.5250
52      4  2020-01-15  2.6125
53      5  2020-01-15  2.7750
54      6  2020-01-15  2.5375
55      7  2020-01-15  2.8500
56      8  2020-01-15  2.8375
57      9  2020-01-15  4.0125
58     10  2020-01-15  5.6625
59     11  2020-01-15  2.4000
60     12  2020-01-15  3.6625
61     13  2020-01-15  3.1000
62     14  2020-01-15  3.2750
63     15  2020-01-15  2.3625
64     16  2020-01-15  2.0500
65     17  2020-01-15  4.4750
66     18  2020-01-15  4.3000
67     19  2020-01-15  3.1125
68     20  2020-01-15  2.1375
69     21  2020-01-15  2.1250
70     22  2020-01-15  2.8625
71     23  2020-01-15  3.8250
72      0  2020-01-16  4.1750
73      1  2020-01-16  3.3250
74      2  2020-01-16  2.8625
75      3  2020-01-16  2.6625
76      4  2020-01-16  2.3375
77      5  2020-01-16  2.2125
78      6  2020-01-16  1.6750
79      7  2020-01-16  2.3000
80      8  2020-01-16  2.3750
81      9  2020-01-16  2.9125
82     10  2020-01-16  4.0875
83     11  2020-01-16  3.5375
84     12  2020-01-16  3.0750
85     13  2020-01-16  2.8375
86     14  2020-01-16  3.7875
87     15  2020-01-16  6.1375
88     16  2020-01-16  4.7125
89     17  2020-01-16  3.3125
90     18  2020-01-16  2.3125
91     19  2020-01-16  2.4000
92     20  2020-01-16  3.0375
93     21  2020-01-16  3.5250
94     22  2020-01-16  4.0125
95     23  2020-01-16  4.4375
96      0  2020-01-17  4.4375
97      1  2020-01-17  4.0500
98      2  2020-01-17  3.3125
99      3  2020-01-17  3.0875
100     4  2020-01-17  3.2250
101     5  2020-01-17  3.1875
102     6  2020-01-17  3.2500
103     7  2020-01-17  3.1625
104     8  2020-01-17  3.2375
105     9  2020-01-17  3.4125
106    10  2020-01-17  3.8625
107    11  2020-01-17  2.0625
108    12  2020-01-17  3.2625
109    13  2020-01-17  4.7625
110    14  2020-01-17  3.8500
111    15  2020-01-17  3.5875
112    16  2020-01-17  3.3875
113    17  2020-01-17  3.4750
114    18  2020-01-17  2.9875
115    19  2020-01-17  2.6125
116    20  2020-01-17  2.6125
117    21  2020-01-17  4.0125
118    22  2020-01-17  4.9500
119    23  2020-01-17  4.6625
120     0  2020-01-18  3.4375
121     1  2020-01-18  3.7250
122     2  2020-01-18  3.6375
123     3  2020-01-18  3.5625
124     4  2020-01-18  3.3875
125     5  2020-01-18  3.2750
126     6  2020-01-18  3.2875
127     7  2020-01-18  3.1250
128     8  2020-01-18  3.3750
129     9  2020-01-18  2.6875
130    10  2020-01-18  4.2125
131    11  2020-01-18  4.5875
132    12  2020-01-18  2.4000
133    13  2020-01-18  2.6500
134    14  2020-01-18  3.1750
135    15  2020-01-18  3.4875
136    16  2020-01-18  3.9750
137    17  2020-01-18  3.8750
138    18  2020-01-18  2.8750
139    19  2020-01-18  2.6250
140    20  2020-01-18  3.3375
141    21  2020-01-18  2.1750
142    22  2020-01-18  2.7750
143    23  2020-01-18  4.1125
144     0  2020-01-19  4.4875
145     1  2020-01-19  3.9750
146     2  2020-01-19  3.3750
147     3  2020-01-19  3.1000
148     4  2020-01-19  2.5375
149     5  2020-01-19  2.4125
150     6  2020-01-19  2.1250
151     7  2020-01-19  2.6500
152     8  2020-01-19  2.4125
153     9  2020-01-19  3.0250
154    10  2020-01-19  4.2750
155    11  2020-01-19  2.6250
156    12  2020-01-19  3.5875
157    13  2020-01-19  3.7250
158    14  2020-01-19  2.9375
159    15  2020-01-19  3.3875
160    16  2020-01-19  3.3250
161    17  2020-01-19  3.0500
162    18  2020-01-19  3.2000
163    19  2020-01-19  3.7250
164    20  2020-01-19  3.0250
165    21  2020-01-19  4.3500
166    22  2020-01-19  4.5000
167    23  2020-01-19  3.1375
168     0  2020-01-20  4.2500
169     1  2020-01-20  4.4250
170     2  2020-01-20  4.2375
171     3  2020-01-20  3.6500
172     4  2020-01-20  3.1125
173     5  2020-01-20  2.9500
174     6  2020-01-20  2.9000
175     7  2020-01-20  2.7875
176     8  2020-01-20  3.0125
177     9  2020-01-20  4.9625
178    10  2020-01-20  3.3875
179    11  2020-01-20  2.4875
180    12  2020-01-20  3.5875
181    13  2020-01-20  3.8125
182    14  2020-01-20  4.2500
183    15  2020-01-20  3.8250
184    16  2020-01-20  3.4375
185    17  2020-01-20  2.6750
186    18  2020-01-20  3.1500
187    19  2020-01-20  3.3250
188    20  2020-01-20  4.3000
189    21  2020-01-20  3.8750
190    22  2020-01-20  4.4250
191    23  2020-01-20  4.4000
192     0  2020-01-21  4.3000
193     1  2020-01-21  3.4250
194     2  2020-01-21  2.8125
195     3  2020-01-21  3.7250
196     4  2020-01-21  4.1375
197     5  2020-01-21  4.0750
198     6  2020-01-21  3.8500
199     7  2020-01-21  3.3125
200     8  2020-01-21  3.1000
201     9  2020-01-21  3.7375
202    10  2020-01-21  4.1125
203    11  2020-01-21  2.7125
204    12  2020-01-21  2.7625
205    13  2020-01-21  2.8000
206    14  2020-01-21  2.7375
207    15  2020-01-21  4.2500
208    16  2020-01-21  5.7500
209    17  2020-01-21  4.5125
210    18  2020-01-21  4.0000
211    19  2020-01-21  2.3000
212    20  2020-01-21  2.4125
213    21  2020-01-21  2.1125
214    22  2020-01-21  3.9250
215    23  2020-01-21  4.4375
216     0  2020-01-22  3.9125
217     1  2020-01-22  3.2875
218     2  2020-01-22  3.3500
219     3  2020-01-22  3.0250
220     4  2020-01-22  2.8875
221     5  2020-01-22  2.5500
222     6  2020-01-22  2.5750
223     7  2020-01-22  2.6750
224     8  2020-01-22  2.8750
225     9  2020-01-22  3.4500
226    10  2020-01-22  5.0875
227    11  2020-01-22  2.9875
228    12  2020-01-22  2.9625
229    13  2020-01-22  2.7500
230    14  2020-01-22  2.2625
231    15  2020-01-22  3.7875
232    16  2020-01-22  3.8875
233    17  2020-01-22  3.3250
234    18  2020-01-22  3.2250
235    19  2020-01-22  2.4750
236    20  2020-01-22  2.8000
237    21  2020-01-22  2.8750
238    22  2020-01-22  3.8750
239    23  2020-01-22  4.8875
240     0  2020-01-23  5.5000
241     1  2020-01-23  4.4875
242     2  2020-01-23  4.0250
243     3  2020-01-23  3.5500
244     4  2020-01-23  3.5375
245     5  2020-01-23  3.4875
246     6  2020-01-23  3.0875
247     7  2020-01-23  2.8000
248     8  2020-01-23  2.7875
249     9  2020-01-23  3.1125
250    10  2020-01-23  4.4375
251    11  2020-01-23  4.5750
252    12  2020-01-23  3.1625
253    13  2020-01-23  3.3750
254    14  2020-01-23  2.6625
255    15  2020-01-23  2.2750
256    16  2020-01-23  3.4500
257    17  2020-01-23  4.5625
258    18  2020-01-23  4.0375
259    19  2020-01-23  3.9500
260    20  2020-01-23  3.5125
261    21  2020-01-23  3.9375
262    22  2020-01-23  3.9250
263    23  2020-01-23  3.5625
264     0  2020-01-24  2.8750
265     1  2020-01-24  2.4750
266     2  2020-01-24  2.5500
267     3  2020-01-24  2.3500
268     4  2020-01-24  2.3625
269     5  2020-01-24  2.4000
270     6  2020-01-24  2.5250
271     7  2020-01-24  2.5125
272     8  2020-01-24  2.6375
273     9  2020-01-24     NaN
274    13  2020-10-01  1.5500
275    14  2020-10-01  2.0750
276    15  2020-10-01  1.6500
277    16  2020-10-01  1.6500
278    17  2020-10-01  2.6250
279    18  2020-10-01  2.7750
280    19  2020-10-01  1.9125
281    20  2020-10-01  2.1250
282    21  2020-10-01  1.6625
283    22  2020-10-01  1.6500
284    23  2020-10-01  2.2500
285     0  2020-11-01  2.8500
286     1  2020-11-01  2.3125
287     2  2020-11-01  2.3500
288     3  2020-11-01  1.9375
289     4  2020-11-01  1.7500
290     5  2020-11-01  1.8250
291     6  2020-11-01  1.6875
292     7  2020-11-01  1.8500
293     8  2020-11-01  2.3375
294     9  2020-11-01  2.1250
295    10  2020-11-01  1.8875
296    11  2020-11-01  2.6000
297    12  2020-11-01  4.7750
298    13  2020-11-01  3.2875
299    14  2020-11-01  2.1625
300    15  2020-11-01  2.3000
301    16  2020-11-01  3.3000
302    17  2020-11-01  3.0750
303    18  2020-11-01  2.4500
304    19  2020-11-01  2.1750
305    20  2020-11-01  2.2000
306    21  2020-11-01  3.4625
307    22  2020-11-01  4.0500
308    23  2020-11-01  4.3750
309     0  2020-12-01  3.4250
310     1  2020-12-01  3.9500
311     2  2020-12-01  3.8375
312     3  2020-12-01  3.7750
313     4  2020-12-01  3.8500
314     5  2020-12-01  3.6500
315     6  2020-12-01  4.1000
316     7  2020-12-01  3.4625
317     8  2020-12-01  3.2250
318     9  2020-12-01  2.5000
319    10  2020-12-01  2.5875
320    11  2020-12-01  3.6750
321    12  2020-12-01  4.4125
322    13  2020-12-01  2.3750
323    14  2020-12-01  2.5125
324    15  2020-12-01  3.3875
325    16  2020-12-01  4.3875
326    17  2020-12-01  3.9625
327    18  2020-12-01  3.8875
328    19  2020-12-01  3.2875
329    20  2020-12-01  3.0750
330    21  2020-12-01  3.2375
331    22  2020-12-01  2.4500
332    23  2020-12-01  3.7875

In [25]:
hourly_auc = df.groupby(df['time'].dt.hour).apply(lambda group: calculate_daily_auc(group)).reset_index()

ValueError: x is neither increasing nor decreasing : [ 0.00000e+00  2.50000e-01  5.00000e-01  7.50000e-01  7.20000e+02
  7.20250e+02  7.20500e+02  7.20750e+02 -7.03200e+03 -7.03175e+03
 -7.03150e+03 -7.03125e+03 -7.00800e+03 -7.00775e+03 -7.00750e+03
 -7.00725e+03 -6.98400e+03 -6.98375e+03 -6.98350e+03 -6.98325e+03
 -6.96000e+03 -6.95975e+03 -6.95950e+03 -6.95925e+03 -6.93600e+03
 -6.93575e+03 -6.93550e+03 -6.93525e+03 -6.91200e+03 -6.91175e+03
 -6.91150e+03 -6.91125e+03 -6.88800e+03 -6.88775e+03 -6.88750e+03
 -6.88725e+03 -6.86400e+03 -6.86375e+03 -6.86350e+03 -6.86325e+03
 -6.84000e+03 -6.83975e+03 -6.83950e+03 -6.83925e+03 -6.81600e+03
 -6.81575e+03 -6.81550e+03 -6.81525e+03 -6.79200e+03 -6.79175e+03
 -6.79150e+03 -6.79125e+03 -6.76800e+03 -6.76775e+03 -6.76750e+03
 -6.76725e+03].

In [23]:
dailyauc = calculate_auc(df)

In [24]:
dailyauc

          time         0
0   2020-01-13  4.209375
1   2020-01-14  3.804688
2   2020-01-15  4.095833
3   2020-01-16  4.269792
4   2020-01-17  4.633333
5   2020-01-18  4.391146
6   2020-01-19  4.356250
7   2020-01-20  4.784896
8   2020-01-21  4.682292
9   2020-01-22  4.253646
10  2020-01-23  4.820312
11  2020-01-24  1.260417
12  2020-10-01  1.191146
13  2020-11-01  3.479688
14  2020-12-01  4.573958

In [24]:
newdf

,time,glc,scan_glc,diff,mins_from_start
12675,2016-01-08 00:01:00,3.6,NaN,-206 days +00:15:00,0 days 00:00:00
12676,2016-01-08 00:16:00,3.1,NaN,0 days 00:15:00,0 days 00:15:00
12677,2016-01-08 00:31:00,2.3,NaN,0 days 00:15:00,0 days 00:30:00
12678,2016-01-08 00:46:00,2.2,NaN,0 days 00:15:00,0 days 00:45:00
12679,2016-01-08 01:01:00,2.2,NaN,0 days 00:15:00,0 days 01:00:00
...,...,...,...,...,...
11393,2018-12-09 22:54:00,3.1,NaN,0 days 00:14:00,1066 days 22:53:00
11396,2018-12-09 23:09:00,4.9,NaN,0 days 00:15:00,1066 days 23:08:00
11397,2018-12-09 23:24:00,5.7,NaN,0 days 00:15:00,1066 days 23:23:00
11398,2018-12-09 23:39:00,5.2,NaN,0 days 00:15:00,1066 days 23:38:00
11399,2018-12-09 23:54:00,5.1,NaN,0 days 00:15:00,1066 days 23:53:00

In [30]:
newdf['mins_from_start'].apply(lambda x: (x.total_seconds()/60)/60)

12675        0.000000
12676        0.250000
12677        0.500000
12678        0.750000
12679        1.000000
             ...
11393    25606.883333
11396    25607.133333
11397    25607.383333
11398    25607.633333
11399    25607.883333
Name: mins_from_start, Length: 19870, dtype: float64

time
2016-01-08    {'ID': '1', 'Average glucose': 5.0645833333333...
2016-01-10    {'ID': '1', 'Average glucose': 2.6545454545454...
2016-02-08    {'ID': '1', 'Average glucose': 6.3168421052631...
2016-02-10    {'ID': '1', 'Average glucose': 9.4000000000000...
2016-03-08    {'ID': '1', 'Average glucose': 8.2263157894736...
                                    ...
2018-11-09    {'ID': '1', 'Average glucose': 9.7083333333333...
2018-12-06    {'ID': '1', 'Average glucose': 7.0347826086956...
2018-12-07    {'ID': '1', 'Average glucose': 5.6645833333333...
2018-12-08    {'ID': '1', 'Average glucose': 8.9927083333333...
2018-12-09    {'ID': '1', 'Average glucose': 8.8989583333333...
Length: 236, dtype: object

In [46]:
auc(df.time.values.astype(float), df.glc.values)

714733344.0

In [45]:
auc(df.time, df.glc)

UFuncTypeError: Cannot cast ufunc 'less' input 0 from dtype('<m8[ns]') to dtype('<m8') with casting rule 'same_kind'

In [4]:
dict_results = []
for i in preprocessed_objects:
    if i.usable==True:
        df_id = i.data
        results = metrics_experiment.calculate_all_metrics(df_id, ID=i.id, unit=i.units, interval=i.interval)
        dict_results.append(results)

In [5]:
pd.DataFrame.from_dict(dict_results)

,ID,Average glucose,SD,CV,eA1c,TIR normal,TIR hypoglycaemia,tir_lv1_hypo,tir_lv2_hypo,tir_hyper,tir_lv1_hyper,tir_lv2_hyper,total_number_hypos,number_lv1_hypos,number_lv2_hypos,avg_length_of_hypo,total_time_in_hypos
0,3028,8.49844,3.667772,43.158179,6.973862,55.81,11.11,4.98,6.13,33.07,25.37,7.71,308,131,177,0 days 14:04:17,180 days 13:59:00
1,3028 2,8.49844,3.667772,43.158179,6.973862,55.81,11.11,4.98,6.13,33.07,25.37,7.71,308,131,177,0 days 14:04:17,180 days 13:59:00

In [8]:
pd.DataFrame(dict_results)

       avg        sd         cv      id
0  8.49844  3.667772  43.158179    3028
1  8.49844  3.667772  43.158179  3028 2

In [7]:
metrics.time_in_range(total_df)

,ID,tir_norm,tir_hypo,tir_lv1_hypo,tir_lv2_hypo,tir_hyper,tir_lv1_hyper,tir_lv2_hyper
0,3028,55.81,11.11,4.98,6.13,33.07,25.37,7.71
1,3028 2,55.81,11.11,4.98,6.13,33.07,25.37,7.71

In [13]:
result_metrics = pd.DataFrame()
for i in preprocessed_objects:
    if i.usable==True:
        tir = metrics.time_in_range(i.data)
        tir['ID'] = i.id
    else:
        #log something

NameError: name 'metrics' is not defined

In [12]:
total_df

                     time   glc  scan_glc      ID
0     2018-04-20 15:31:00  11.0       NaN    3028
1     2018-04-20 15:35:00   NaN      10.8    3028
2     2018-04-20 15:35:00   NaN       NaN    3028
3     2018-04-20 15:46:00  11.5       NaN    3028
4     2018-04-20 16:01:00  11.9       NaN    3028
...                   ...   ...       ...     ...
21820 2017-10-23 18:58:00   2.6       NaN  3028 2
21821 2017-10-23 19:13:00   2.2       NaN  3028 2
21823 2017-10-23 19:28:00   2.2       NaN  3028 2
21824 2017-10-23 19:44:00   2.2       NaN  3028 2
21826 2017-10-23 19:58:00   2.2       NaN  3028 2

[41697 rows x 4 columns]

In [ ]:
person1 = checkDevices.checkDevices(example1)

hello

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [3]:
person2 = checkDevices.checkDevices(example2)

hello

In [4]:
uk_data = person2.data
us_data = person2.data

In [5]:
us_data['glc'] = us_data['glc']/0.0557

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [4]:
person1.data

                   time   glc scan_glc
0      20-04-2018 15:31  11.0      NaN
1      20-04-2018 15:35   NaN     10.8
2      20-04-2018 15:35   NaN      NaN
3      20-04-2018 15:46  11.5      NaN
4      20-04-2018 16:01  11.9      NaN
...                 ...   ...      ...
21822  23-10-2017 19:44   2.2      NaN
21823  23-10-2017 19:50   NaN      2.2
21824  23-10-2017 19:58   2.2      NaN
21825  23-10-2017 20:06   NaN      2.2
21826  23-10-2017 20:13   NaN      2.2

[21827 rows x 3 columns]

In [30]:
if pd.notnull(example1.iloc[0,2]):
    print('booo')

In [27]:
if example1.iloc[0,2]:
    print('booo')

booo

In [10]:
header =['Meter',	'Serial Number',	'Meter Timestamp',	'Record Type',	'Historic Glucose(mmol/L)',	'Scan Glucose(mmol/L)']

In [16]:
print(set(example1.iloc[1]))

{nan, 'Scan Glucose(mmol/L)', 'Correction Insulin (units)', 'Historic Glucose(mmol/L)', 'Rapid-Acting Insulin (units)', 'Non-numeric Rapid-Acting Insulin', 'Long-Acting Insulin (units)', 'Serial Number', 'Notes', 'Carbohydrates (servings)', 'Ketone(mmol/L)', 'Record Type', 'Carbohydrates (grams)', 'Non-numeric Long-Acting Insulin', 'Non-numeric Food', 'Meter', 'User Change Insulin (units)', 'Strip Glucose(mmol/L)', 'Meter Timestamp', 'Meal Insulin (units)'}

In [17]:
if set(header).issubset(set(example1.iloc[1])):
    print('booo')

booobs

In [5]:
example1.count().max()

21829

In [3]:
preprocessing.preprocess_data(example1)

{'dt': ['14-09-2018'], 'glc_uk': ['Robert Andrews'], 'glc_us': []}

                   time   glc
0      20-04-2018 15:31  11.0
1      20-04-2018 15:46  11.5
2      20-04-2018 16:01  11.9
3      20-04-2018 16:16  12.7
4      20-04-2018 16:31  13.1
...                 ...   ...
19865  23-10-2017 18:58   2.6
19866  23-10-2017 19:13   2.2
19867  23-10-2017 19:28   2.2
19868  23-10-2017 19:44   2.2
19869  23-10-2017 19:58   2.2

[19870 rows x 2 columns]